<mat-toolbar color="primary">
    <span class="spacer"></span>
    <div class="copyright">
        <span>Copyright {{ currentYear }}</span>
        <button mat-icon-button>
            <mat-icon>copyright</mat-icon>
        </button>
    </div>
</mat-toolbar>
